body {
  font-family: 'Roboto Condensed', sans-serif;
}

/*
font-family: 'Exo', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Scope One', serif;
font-family: 'Montserrat', sans-serif;

*/
.main-page .header h1,
.main-page .header h2,
.main-page .header h3,
.main-page .header h4,
.main-page .header h5,
.main-page .header h6 {
  font-family: 'Scope One', serif;
  font-weight: normal;
}

.main-page .header h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.main-page .header h1 span {
  display: inline-block;
  padding: 10px;
}
.main-page .header h1 span.main {
  background-color: red;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.main-page .header h1 span.secondary {
  position: relative;
  left: -15px;
}

.main-page .header h2 {
  font-size: 26px;
  margin: 10px 0;
  display: inline-block;
  margin-right: 10px;
}
.main-page .header .user {
  font-size: 20px;
  color: #844bad;
}

.main-page form.add-task input {
  width: 75%;
  display: inline-block;
}
.main-page form.add-task button[type="submit"] {
  width: 24%;
  display: inline-block;
}

.main-page table {}
.main-page table th {}
.main-page table tr {}
